
<li>
    <p>Posted at: {{createdAt }}</p>
    <p>Nearest City: {{city }}</p>
    <p>Description : {{description }}</p>
    <p>Posted By: {{ userName }}</p>
    <p>Approximate location: on the pin drop below on lat {{ lat }} and lon {{ lng }}
        
        <div id="dispMap{{lat}}{{lng}}" style="height: 300px; width: 100%"></div>
        <script>            
            var lnglatArr = [{{ lng }}, {{ lat }}]; 
            console.log('latlongARRay', lnglatArr)
            
            mapboxgl.accessToken = 'pk.eyJ1IjoiZ2lybWFkIiwiYSI6ImNraXFnNGFiNjFjaWIzOG84aGpvd2xtOGIifQ.7CC9ym81Xt2gfUcxbB2Lkg';
            var dispMap = new mapboxgl.Map({
                container: "dispMap{{lat}}{{lng}}",
                style: 'mapbox://styles/mapbox/streets-v11',
                center: lnglatArr,
                zoom: 9
            });
        
            var marker = new mapboxgl.Marker()
            .setLngLat(lnglatArr)
            .addTo(dispMap);       
        </script>
    </p>
    
</li>
    
    

